<h1 class="mb-4">Add Maintenance Log for <%= @aircraft.tail_number %></h1>

<div class="row">
  <div class="col-md-8 col-lg-6">
    <%= render "form", maintenance_log: @maintenance_log %>
  </div>
</div>
