<h1 class="mb-4">Edit Downtime Event for <%= @aircraft.tail_number %></h1>

<div class="row">
  <div class="col-md-8 col-lg-6">
    <%= render "form", downtime_event: @downtime_event %>
  </div>
</div>
